.body{
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  box-sizing: border-box
}

.main{
  flex: 1;
  margin: 10px 0;
}

.app {
  margin-left: 30px;
  margin-top: 0px;
}

.appMain {
  background-color: rgba(210, 235, 13, 0.31) ;
  min-height: 500px;
}

footer {
  background-color: rgba(62, 135, 221, 0.79);
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  color: #fff;
  margin-top: 20;
  height: 200px;
}

.footer-main {
  margin-left: 50px;
  height: 50px;
  width: 100%;
}

footer .footer-main a{
  color: #fff;
}

footer .footer-main h2{
  text-align: left;
  font-style: italic;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

footer .links {
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

footer .links img {
  margin-left: auto;
  margin-right: 20px;
  height: 40%;
  width: auto;

}

footer .links ul {
  list-style: none;
}

footer .links ul >*{
  cursor: pointer;
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;
  padding-bottom: 0px;
  border-bottom: 1px solid white;
}

.header {
  background-color: #fff;
  color: rgb(20, 155, 213);
  height: auto;
  display: block;
  margin: 10px 10px;
}

.header-logo {
  float: left;
  width: 200px;
  padding: 10px
}

.header-logo button {
  float: left;
  display: inline;
  width: 100%;
}

.header-logo img {
  float: left;
  width: 100%;
}

.header-list button{
  cursor: pointer;
  float: left;
  border-style: none;
  background: none;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

.header-list {
  float: right;
  padding-right: 10px;
}

.header-list li {
  float: left;
  list-style: none;
  padding: 0px 20px;
}

#headerButton {
  display: none;
}

.slides {

  position: relative;
  .slick-prev, .slick-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1 !important;
  }
  .slick-prev {
    left: 5% !important;
  }
  .slick-next {
    right: 5% !important;
  }
}

.title {
  font-family: sans-serif;
}

.contact-form input,textarea{
  width : 400px;
  margin-top : 10px;
  margin-bottom : 30px;
  padding : 20px;
  font-size : 18px;
  border : 1px solid #dee7ec;
}

.contact-form .submit{
  background-color : #dee7ec;
  color : #889eab;
}

.article {
  margin: 10px 30px
}

@media (max-width: 762px) {
  .headerActive {

  }
  .headerInactive{

  }
}
